<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <div >
            <ion-button (click)="clickLogin()" >Login</ion-button>
            <ion-button (click)="clickLogin()" >Login</ion-button>
            <ion-button (click)="clickLogin()" >Login</ion-button>
         </div>
        <div >
          <ion-button (click)="clickLogin()" >Login</ion-button>
            <ion-button (click)="clickLogin()" >Login</ion-button>
            <ion-button (click)="clickLogin()" >Login</ion-button>
        </div>
        <div >
          <ion-button (click)="clickLogin()" >Login</ion-button>
          <ion-button (click)="clickLogin()" >Login</ion-button>
          <ion-button (click)="clickLogin()" >Login</ion-button>
        </div>
        
    </form>
</ion-content>
